<div class="top-row ps-3 navbar navbar-dark" style="height: 100px">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="font-weight:600; text-align:center">
            <img src="./uffb-logo-white.png" style="height: 50px; width: auto; margin-right:10px" />
            <br />
            UFFB Tickets Automation
        </a>
    </div>
</div>
