@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using UFFBerlin_TicketsAutomation.Data
@using UFFBerlin_TicketsAutomation.Data.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject GoogleAuthorizationService GoogleAuthorizationService
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation
@inject EmailService EmailService

<PageTitle>UFFB Ticket Automation</PageTitle>

<div class="page">
    <div class="sidebar"><Header />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
